<div class='employeemaincont'>
<%=render "admin/adminmenu" %>
<div class="empsubcon">
<h1>HOLIDAYS</h1>
<table class="table">
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Edit</th>
    </tr>
<% @holidays.each do |holiday| %>
    <tr>
     <td>
     <%= holiday.name%>
     </td>
     <td>
     <%= holiday.date%>
     </td>
    <% end %>
</table>
<%= button_to 'Add Holiday', holidaysform_path,method: :get,class:"loginbutton" %>
</div>
</div>