<div class='employeemaincont'>
<%=render "admin/adminmenu" %>
<div class="empsubcon">
<h1>Leave Management</h1>
<table class="table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
<% @leaves.each do |leave| %>
    <tr>
     <td>
     <%= leave.name%>
     </td>
     <td>
     <%= leave.description%>
     </td>
    <% end %>
</table>
<%= button_to 'Add Leave', leaveform_path,method: :get,class:"loginbutton" %>
</div>
</div>