<div class="d-flex flex-column">
    
    <%= button_to "Dashboard",signnedin_path, method: :get, class:'box'%>

    
    <%= button_to "Leaves",leavespage_path, method: :get, class:'box'%>

    <button class="box">
    <p> Attendence</p>
    </button>

    <button class="box">
    <p> Settings</p>
    </button>
</div>