<div class= "index-main-container">
    <div class="index-sub-container">
        <h1 class="heading">HRM application</h1>
        <div class="button-container">
            <%= button_to 'Employee login', employee_path, method: :get,:class=>"button1 btn btn-primary" %>
            <%= button_to 'HR login', hr_path, method: :get,:class=>"button1 btn btn-primary" %>
        </div>
    </div>
</div>




