<div class= "index-main-container">
    <div class="index-sub-container">


        <h1 class="heading">HRM application</h1>
        <div class="button-container">
            <%= button_to 'CLICK TO LOGIN', employee_session_path, method: :get,:class=>"button1 btn btn-primary" %>
            
        </div>
        <%if current_employee%>
       welcome <%=current_employee.email%>
       <%= button_to "log out",destroy_employee_session_path, method: :delete%>
       <%end%>
    </div>
</div>




