<div class="d-flex flex-row ">
 <%=render "home/leftmenu" %>
<div class="remainingboxes"> 
<div class="box2">
    <div class="graphcontainer">
    <p>GRAPH</p>
    <%= column_chart [["2021-01-01", 2], ["2021-01-02", 3],["2021-01-03", 4], ["2021-01-04", 5],["2021-01-05", 6], ["2021-01-06", 7],["2021-01-07", 8]], height: "216px" %>
    </div>

</div>

<div class="box3 d-flex flex-row">
    <div class="graphcontainer1">
    <p>GRAPH2</P>
    </div>

    <div class="graphcontainer1">
    <p>GRAPH3</P>
    </div>
</div>
</div>
</div>

