<div class="d-flex flex-row">
<div class="box">
<p> Dashboard </p>
</div>


<div class="box">
<p> Leaves </p>
</div>

<div class="box">
<p> Attendence</p>
</div>

<div class="box">
<p> Settings</p>
</div>
</div>