/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


 .index-main-container{
  background-image: linear-gradient(to right, rgb(38, 172, 116), white,rgb(32, 126, 105));
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .index-sub-container{
    background-color: rgb(207, 157, 207);
    height: 35vh;
    width: 40vw;
    border-radius: 100px;
    align-items: center;
    text-align: center;
 }
 .button1{
   margin: 10px;
 }
 .heading{
   font-weight: bold;
   font-family: cursive;
   margin: 15px;
 }  
.color{
  background-image: linear-gradient(to bottom, rgb(126, 173, 192),rgb(192, 116, 211));
  height: 100vh;
  margin-top: -16px;
  }
  .navstyly{
    background-color: alpha($color: #2fc22f);
  }
 .box{
   height:26vh;
   width: 16vw;
   background-color: rgb(27, 27, 95);
   border-style: none;
   
  color: white;
   text-align: center;
   align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
 }
 .graphcontainer{
   width:75vw;
   height: 350px;
   background-color: rgb(213, 236, 236);
   margin-left:20px;
   margin-bottom: 4px;
  
 }
 .graphcontainer1{
   width: 37vw;
   height: 230px;
   background-color: rgb(213, 236, 236);
   margin-left: 20px;

 }

.loginstyly{
  height: 100vh;
  background-color: white;
  display:flex;
  flex-direction: row;
}
.loginbtn{
  background-color: blueviolet;
  border-radius: 10px;
  height: 30px;
  width: 250px;
  font-size: 16px;
  color: white; 
  margin-top: 5px;

}
.image{
  height: 500px; 
  width: 500px;
  

}
.loginimage{
  background-color: azure;
  margin-left: 300px;
}
.loginsubstyly{
  margin-top: 15vh;
  margin-left: 15vw;
}
.leavespage{
  width: 24vw;
   height: 120px;
   background-color: rgb(213, 236, 236);
  text-align: center;
  display: flex;
  align-items: flex-end;
  margin-left: 50px;

}
.maincontainer{
  display: flex;
  flex-direction: column;

}
.right-container{
  display: flex;
  flex-direction: column;
}
.formcontainer{
  display: flex;
  flex-direction: row;
}
.loginbutton{
  background-color: blueviolet;
  border-style: none;
  color: white;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
}
.leave-main-cont{
  background-color: white;
  display: flex;
  flex-direction: row;
  
}
.leaveheads{
  margin-left: 80px;
}
.employeemaincont{
  display: flex;
  flex-direction: row;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
}
.dashboard-page{
  
}